{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1 class="left-text">About Us</h1>
    <p class="left-text">Welcome! Professor Paul the Political Parrot (or ProPaPoPa) is a tool to help break down and analyze political texts
        which might be dense with complicated terms or references to other bodies of work. Armed with a massive library of terms and definitions,
        Professor Paul takes in your input and gives you a summary of your original text in the context of the larger field of broader political theories
        alongside a list of the top 10 most relevant terms, each paired with a definition specific to your input.
    </p>
{% endblock %}
