{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="left-text">Welcome!</h1>
    <p class="left-text">Professor Paul the Political Parrot is here to help! Simply enter whatever paragraph or section you're confused about and press the 'Ask Paul' button to get your results!</p>
    <div class="form-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/paul.jpg') }}" alt="Paul Logo" style="width: 200px; height: 200px;">
        </div>
        <div class="textarea-container">
            <form method="POST">
                <label for="textarea">Enter your text</label>
                <textarea name="textarea" id="textarea"></textarea>
                <input type="submit" value="Ask Paul">
            </form>
        </div>
    </div>
{% endblock %}
